body {
	font-family: 'Lato', helvetica, sans-serif;
	background-color: #ededed;
}

/*img {
	width: 100px;
	height: 100px;
}*/

#quiz-header {
	text-align: center;
}

.row {
	text-align: center;
}

.jumbotron {
	background-color: #efc700;
	color: #545454;
}

.answer-container {
	text-align: center;
	padding: 20px 15px 20px 15px;
}

.question-container{
	padding: 20px 15px 20px 15px;
}

input, button {
	color: black;
}

.landing-container {
	padding: 20px;
	text-align: center;
	margin-left: 20px;
}

#rules-header {
	text-align: left;
}

#rules {
	text-align: left;
	padding: 10px;
}

li {
	font-size: 20px;
}

#question {
	text-align: center !important;
}

.input-group {
	margin: 0 auto !important;
	text-align: center !important;
	position: absolute;
}

#over {
	padding-bottom: 20px;
	padding-left: 10px;
}

img {
	padding: 20px;
}

#twitter-button {
	padding: 20px;
	position: relative;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0;
}

/*http://stackoverflow.com/questions/7381446/center-html-input-text-field-placeholder*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.ui-autocomplete.ui-widget {
	text-align: left;
	font-size: 6px !important;
	background-color: white;
	width: 300px;
}

ul.ui-autocomplete { 
	list-style-type: none;
} 