body {
	font-family: 'Lato', helvetica, sans-serif;
	background-color: #666666;
	color: white;
}

#quiz-header {
	text-align: center;
}

.jumbotron {
	background-color: #efc700;
	color: #545454;
}

/*#timer {
	text-align: center;
}
*/

.answer-container {
	text-align: center;
	padding: 20px;
}

.question-container{
	padding: 20px;
}

input, button {
	color: black;
}

/*#question, #answer {
	padding: 10px;
}*/
