body {
	font-family: 'Lato', helvetica, sans-serif;
	background-color: #ededed;
}

/*img {
	width: 100px;
	height: 100px;
}*/

#quiz-header {
	text-align: center;
}

.jumbotron {
	background-color: #efc700;
	color: #545454;
}

.answer-container {
	text-align: center;
	padding: 20px;
}

.question-container{
	padding: 20px;
}

input, button {
	color: black;
}

.landing-container {
	padding: 20px;
	text-align: center;
}

#rules-header {
	text-align: left;
}

#rules {
	text-align: left;
	padding: 10px;
}

li {
	font-size: 20px;
}

#over {
	padding-bottom: 20px;
}

img {
	padding: 20px;
}

#twitter-button {
	padding: 20px;
	position: relative;
}

footer {
	text-align: center;
}

